:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

nav .logo img {
    width: 75%;
}

.nav-button {
    border: 2px solid var(--pink);
    border-radius: 2rem;
    padding: .5rem 1.5rem;
    background-color: transparent;
    color: var(--pink);
    cursor: pointer;
    transition: .2s;
}

.nav-button:hover {
    border-color: var(--light-pink);
    color: var(--light-pink);
    box-shadow: 0px 2px 2px -1px var(--light-pink);
}

.about {
    margin: 8rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-size: 40px;
    margin-bottom: 2rem;
    color: var(--very-dark-cyan);
    text-align: center;
}

.about p {
    max-width: 50%;
    text-align: center;
    color: var(--very-dark-cyan);
    margin-bottom: 2rem;
}

.about button {
    font-size: 18px;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    padding: 1rem 3rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    margin-bottom: 6rem;
    cursor: pointer;
    transition: .2s;
}

.about button:hover {
    box-shadow: 0px 2px 2px -1px var(--light-pink);
    background-color: var(--light-pink);
}

.about img {
    width: 100%;
}



.achivement {
    margin: 2rem 8rem;
    display: flex;
    justify-content: space-around;
}

.achivement .bold-number {
    font-size: 48px;
    font-weight: 700;
    color: var(--very-dark-cyan);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.achivement .small-text {
    font-size: 14px;
    opacity: .4;
}

.services .box {
    display: flex;
    align-items: center;
    margin: 18rem 0;
}

.services .box:not(.with-bg){
    flex-direction: row-reverse;
}
.services .box:not(.with-bg) .text-content{
    margin-right: 8rem;
    margin-left: 2rem;
}
.services .box:not(.with-bg) .image-content{
    margin-left: 8rem;
    margin-right: 2rem;
}

.services .box .text-content{
    flex: 1;
}

.text-content h1 {
    font-size: 36px;
    color: var(--very-dark-cyan);
    margin-bottom: 2rem;
}

.text-content p {
    font-size: 14px;
    color: var(--very-dark-cyan);
}

.services .box .image-content{
    flex: 1;
}

.services .box .image-content img{
    width: 100%;
}

.with-bg {
    position: relative;
    background-color: var(--very-pale-blue);
}

.with-bg .text-content {
    margin-left: 8rem;
    margin-right: 2rem;
}
.with-bg .image-content {
    margin-right: 8rem;
    margin-left: 2rem;
}

.with-bg::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.with-bg::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    z-index: -1;
}


.contact {
    text-align: center;
}

.contact h1 {
    font-size: 42px;
    color: var(--very-dark-cyan);
    margin-bottom: 3rem;
}

.contact button {
    font-size: 18px;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    padding: 1rem 3rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    margin-bottom: 6rem;
    cursor: pointer;
    transition: .2s;
}

.contact button:hover {
    box-shadow: 0px 2px 2px -1px var(--light-pink);
    background-color: var(--light-pink);
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    margin-top: 8rem;
    position: relative;
}


footer::before {
    content: "";
    position: absolute;
    background-image: url(img/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    bottom: 100%;
    left: 0;
}

.left, .right {
    margin: 6rem;
}

.footer-logo {
    margin-bottom: 1rem;
}

.footer-text {
    color: var(--very-pale-blue);
    margin-bottom: 1rem;
}

.footer-contact {
    color: var(--very-pale-blue);
    margin-bottom: 4rem;
}

.footer-contact div {
    margin: .75rem 0;
}

.footer-contact i {
    margin-right: 1rem;
}

.social-media {
    font-size: 36px;
    color: var(--very-pale-blue);
}

.social-media i {
    margin-right: 1rem;
}

.social-media i:hover {
    color: rgb(21, 139, 235);
}

.right h1 {
    color: var(--very-pale-blue);
    margin-bottom: 1rem;
}

.right p {
    color: var(--very-pale-blue);
    margin-bottom: 2rem;
}

.input {
    display: flex;
}

.input input {
    width: 100%;
    margin-right: 2rem;
    padding: .75rem;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: .25rem;
}

.input button {
    background-color: var(--pink);
    color: var(--very-pale-blue);
    padding: .75rem 2rem;
    outline: none;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
}

.input button:hover {
    box-shadow: 0px 2px 2px -1px var(--light-pink);
    background-color: var(--light-pink);
}

@media screen and (max-width: 1200px){
    .about {
        margin: 6rem 2rem;
    }
    .about h1 {
        font-size: 32px;
    }
    .about p {
        max-width: 100%;
    }
    .contact h1 {
        font-size: 36px;
    }
    footer .left, footer .right {
        margin: 4rem;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        padding: 2rem;
    }
    .nav-button {
        padding: .5rem 1rem;
        line-height: 1rem;
        font-size: 14px;
    }
    .achivement {
        flex-direction: column;
    }
    .achivement div {
        margin: 4rem 0;
    }

    .image-content {
        margin: 0 2rem 0 2rem !important;
    }
    .text-content {
        margin: 4rem 2rem 0 2rem !important;
        text-align: center;
    }
    .text-content h1 {
        font-size: 28px;
        margin-bottom: 1rem;
    }
    .services .box {
        flex-direction: column-reverse !important;
    }
    .services .box:not(.with-bg){
        flex-direction: column;
    }
    footer {
        flex-direction: column-reverse;
    }

    .left, .right {
        margin: 2rem;
        margin-bottom: 4rem;
    }
    .right .input {
        flex-direction: column;
        align-items: flex-end;
    }

    .input input {
        margin-right: 0;
    }
    .input button {
        margin-top: 1rem;
    }
}