:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin-left: 8rem;
    row-gap: 0;
}

.logo {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 4rem;
}

.hero {
    grid-row: 1/3;
    grid-column: 2/3;
    margin-left: 4rem;

}

.hero img {
    height: 100%;
    float: right;
    width: 100%;
}

.text-content {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-right: 6rem;
}

.head {
    margin-bottom: 1rem;
}

.head span{
    display: block;
    text-transform: uppercase;
    font-size: 48px;
    color: var(--dark-grayish-red);
    letter-spacing: 2px;
}

.head .top {
    color: var(--desaturated-red);
}

.text-content .text {
    font-size: 14px;
    color:hsl(0, 36%, 70%);
    margin-bottom: 2rem;
}

.form {
    border: 1px solid var(--desaturated-red);
    position: relative;
    border-radius: 5rem;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    padding: .5rem .25rem;
    border: none;
    outline: none;
    width: 100%;
    color: var(--dark-grayish-red);
}

/*
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

.error-icon {
    margin-right: 5rem;
    opacity: 0;
}

button {
    position: absolute;
    height: 100%;
    right: 0%;
    outline: none;
    padding: .5rem 2rem;
    border-radius: 4rem;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 4px 10px rgba(0,0,0,.2);
    cursor: pointer;
}

.error-message {
    font-size: 12px;
    margin-left: 1rem;
    margin-top: .5rem;
    color: var(--desaturated-red);
    opacity: 0;
}

.show {
    opacity: 1;
}

.border-red {
    border-color: var(--soft-red);
}

@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        overflow:scroll;
        margin-left: 0;
    }

    .logo {
        margin: 2rem;
    }

    .hero {
        margin-left: 0;
    }

    .text-content {
        text-align: center;
        margin: 2rem;
    }

    .error-message {
        text-align: left;
    }
}