:root {
    /*primary*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);/*(paragraphs)*/
    --very-light-gray: hsl(0, 0%, 95%);/*(background, headings, buttons)*/

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--very-light-gray);
}

.container {
    display: flex;
}

.box {
    width: 240px;
    padding: 2rem 3rem 2rem 2rem;
}

.sedan {
    background-color: var(--bright-orange);
    border-radius: 1rem 0 0 1rem;
}

.suv {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 1rem 1rem 0;
}

img {
    margin-bottom: 1.5rem;
}

h2 {
    font-weight: 600;
    color: var(--transparent-white);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

p {
    font-weight: 500;
    font-size: 14px;
    color: var(--very-light-gray);
    line-height: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

button {
    font-size: 14px;
    border-radius: 5rem;
    padding: .5rem 1.25rem;
    border: 2px solid var(--transparent-white);
    outline: none;
    transition: .2s ease;
}

.sedan button {
    color: var(--bright-orange);
}

.suv button {
    color: var(--dark-cyan);
}

.luxury button {
    color: var(--very-dark-cyan);
}

button:hover {
    color: var(--transparent-white);
    background-color: transparent;
}

@media screen and (max-width: 900px) {
    body {
        align-items: flex-start;
    }
    .container {
        flex-direction: column;
    }
    
    .sedan {
        border-radius: 1rem 1rem 0 0;
    }

    .luxury {
        border-radius: 0 0 1rem 1rem;
    }
}


